html {
  --bodyPosition: 0, 0;
  --bodyRotation: 0deg;
  --headRotation:0deg;
  --leftArmRotation: 0deg;
  --leftForearmRotation: 0deg;
  --rightArmRotation: 0deg;
  --rightForearmRotation: 0deg;
  --leftLegRotation: 0deg;
  --leftCalfRotation: 0deg;
  --leftFootRotation: 0deg;
  --rightLegRotation: 0deg;
  --rightCalfRotation: 0deg;
  --rightFootRotation: 0deg;
}
