@use "sass:math";

$idle: (
  '.body': (0: translate(0,0), 50: translate(0,1.5%), 100: translate(0,0)),
  '.head': (0: rotate(0deg), 50: rotate(2.5deg), 100: rotate(0deg)),
  '.arm.left': (0: rotate(20deg), 50: rotate(18deg), 100: rotate(20deg)),
  '.arm.left .forearm': (0: rotate(-60deg), 50: rotate(-60deg), 100: rotate(-60deg)),
  '.arm.right': (0: rotate(20deg), 50: rotate(18deg), 100: rotate(20deg)),
  '.arm.right .forearm': (0: rotate(-60deg), 50: rotate(-60deg), 100: rotate(-60deg)),
  '.leg.left': (0: rotate(0deg), 50: rotate(-5deg), 100: rotate(0deg)),
  '.leg.left .calf': (0: rotate(0deg), 50: rotate(10deg), 100: rotate(0deg)),
  '.leg.left .calf .foot': (0: rotate(0deg), 50: rotate(-5deg), 100: rotate(0deg)),
  '.leg.right': (0: rotate(0deg), 50: rotate(-5deg), 100: rotate(0deg)),
  '.leg.right .calf': (0: rotate(0deg), 50: rotate(10deg), 100: rotate(0deg)),
  '.leg.right .calf .foot': (0: rotate(0deg), 50: rotate(-5deg), 100: rotate(0deg)),
);

$walk: (
  '.body': (
      translate(0,2%) rotate(3deg),
      translate(0,-10%) rotate(-2deg),
      translate(0,0) rotate(-2deg),
      translate(0,10%) rotate(-2deg),
      translate(0,0) rotate(0deg),
      translate(0,-10%) rotate(0deg),
      translate(0,0%) rotate(2deg),
      translate(0,10%) rotate(5deg),
      translate(0,2%) rotate(3deg),
  ),
  '.head': (
      rotate(-3deg),
      rotate(-1deg),
      rotate(0deg),
      rotate(1deg),
      rotate(3deg),
      rotate(1deg),
      rotate(0deg),
      rotate(-1deg),
      rotate(-3deg),
  ),
  '.arm.left': (
      rotate(-25deg),
      rotate(-15deg),
      rotate(15deg),
      rotate(70deg),
      rotate(70deg),
      rotate(50deg),
      rotate(30deg),
      rotate(-45deg),
      rotate(-25deg),
  ),
  '.arm.left .forearm': (
      rotate(-75deg),
      rotate(-60deg),
      rotate(-40deg),
      rotate(-50deg),
      rotate(-60deg),
      rotate(-60deg),
      rotate(-60deg),
      rotate(-90deg),
      rotate(-75deg),
  ),
  '.arm.right': (
      rotate(75deg),
      rotate(60deg),
      rotate(30deg),
      rotate(-40deg),
      rotate(-40deg),
      rotate(-20deg),
      rotate(20deg),
      rotate(75deg),
      rotate(75deg),
  ),
  '.arm.right .forearm': (
      rotate(-50deg),
      rotate(-50deg),
      rotate(-70deg),
      rotate(-90deg),
      rotate(-90deg),
      rotate(-75deg),
      rotate(-75deg),
      rotate(-75deg),
      rotate(-50deg),
  ),
  '.hips': (
      rotate(-5deg),
      rotate(-2deg),
      rotate(0deg),
      rotate(2deg),
      rotate(5deg),
      rotate(2deg),
      rotate(0deg),
      rotate(-2deg),
      rotate(-5deg),
  ),
  '.leg.left': (
      rotate(30deg),
      rotate(30deg),
      rotate(20deg),
      rotate(-20deg),
      rotate(-30deg),
      rotate(-70deg),
      rotate(-50deg),
      rotate(-10deg),
      rotate(30deg),
  ),
  '.leg.left .calf': (
      rotate(20deg),
      rotate(0deg),
      rotate(10deg),
      rotate(40deg),
      rotate(20deg),
      rotate(120deg),
      rotate(120deg),
      rotate(110deg),
      rotate(20deg),
  ),
  '.leg.left .calf .foot': (
      rotate(-15deg),
      rotate(-5deg),
      rotate(-25deg),
      rotate(-20deg),
      rotate(-10deg),
      rotate(-30deg),
      rotate(-10deg),
      rotate(-30deg),
      rotate(-15deg),
  ),
  '.leg.right': (
      rotate(-40deg),
      rotate(-60deg),
      rotate(-30deg),
      rotate(35deg),
      rotate(45deg),
      rotate(35deg),
      rotate(15deg),
      rotate(-50deg),
      rotate(-40deg),
  ),
  '.leg.right .calf': (
      rotate(20deg),
      rotate(110deg),
      rotate(120deg),
      rotate(65deg),
      rotate(25deg),
      rotate(15deg),
      rotate(15deg),
      rotate(75deg),
      rotate(20deg),
  ),
  '.leg.right .calf .foot': (
      rotate(-10deg),
      rotate(-10deg),
      rotate(-30deg),
      rotate(-30deg),
      rotate(-10deg),
      rotate(-30deg),
      rotate(-30deg),
      rotate(-30deg),
      rotate(-10deg),
  ),
);

$jump: (
    '.body': (
          translate(0,0) rotate(0deg),
          translate(0,0) rotate(10deg),
          translate(0,0) rotate(30deg),
          translate(20%,-5%) rotate(20deg),
          translate(20%,-175%) rotate(20deg),
          translate(30%,0) rotate(-15deg),
          translate(10%,40%) rotate(40deg),
          translate(0,0) rotate(10deg),
          translate(0,0) rotate(0deg),
    ),
    '.head': (
          rotate(0deg),
          rotate(-3deg),
          rotate(-10deg),
          rotate(3deg),
          rotate(10deg),
          rotate(-3deg),
          rotate(-20deg),
          rotate(-3deg),
          rotate(0deg),
    ),
    '.arm.left': (
          rotate(20deg),
          rotate(80deg),
          rotate(80deg),
          rotate(-150deg),
          rotate(-90deg),
          rotate(-190deg),
          rotate(-250deg),
          rotate(30deg),
          rotate(20deg),
    ),
    '.arm.left .forearm': (
          rotate(-60deg),
          rotate(-90deg),
          rotate(-90deg),
          rotate(-70deg),
          rotate(-100deg),
          rotate(10deg),
          rotate(90deg),
          rotate(-90deg),
          rotate(-60deg),
    ),
    '.arm.right': (
          rotate(20deg),
          rotate(0deg),
          rotate(90deg),
          rotate(-150deg),
          rotate(-100deg),
          rotate(-160deg),
          rotate(-130deg),
          rotate(0deg),
          rotate(20deg),
    ),
    '.arm.right .forearm': (
          rotate(-60deg),
          rotate(-90deg),
          rotate(-90deg),
          rotate(-60deg),
          rotate(-90deg),
          rotate(-20deg),
          rotate(-100deg),
          rotate(-90deg),
          rotate(-60deg),
    ),
    '.hips': (
            rotate(0deg),
            rotate(5deg),
            rotate(10deg),
            rotate(10deg),
            rotate(2deg),
            rotate(0deg),
            rotate(0deg),
            rotate(-5deg),
            rotate(0deg),
    ),
    '.leg.left': (
          rotate(0deg),
          rotate(-10deg),
          rotate(-90deg),
          rotate(0deg),
          rotate(-130deg),
          rotate(-5deg),
          rotate(-110deg),
          rotate(-10deg),
          rotate(0deg),
    ),
    '.leg.left .calf': (
          rotate(0deg),
          rotate(0deg),
          rotate(90deg),
          rotate(0deg),
          rotate(120deg),
          rotate(0deg),
          rotate(90deg),
          rotate(0deg),
          rotate(0deg),
    ),
    '.leg.left .calf .foot': (
          rotate(0deg),
          rotate(0deg),
          rotate(-30deg),
          rotate(30deg),
          rotate(-10deg),
          rotate(-20deg),
          rotate(-20deg),
          rotate(0deg),
          rotate(0deg),
    ),
    '.leg.right': (
          rotate(0deg),
          rotate(-10deg),
          rotate(-110deg),
          rotate(0deg),
          rotate(-120deg),
          rotate(-10deg),
          rotate(-130deg),
          rotate(-10deg),
          rotate(0deg),
    ),
    '.leg.right .calf': (
          rotate(0deg),
          rotate(0deg),
          rotate(100deg),
          rotate(0deg),
          rotate(100deg),
          rotate(0deg),
          rotate(100deg),
          rotate(0deg),
          rotate(0deg),
    ),
    '.leg.right .calf .foot': (
          rotate(0deg),
          rotate(0deg),
          rotate(-20deg),
          rotate(30deg),
          rotate(20deg),
          rotate(-20deg),
          rotate(-10deg),
          rotate(0deg),
          rotate(0deg),
    ),
);



.character {
  &[data-animation="idle"] {
    $i: 0;
    @each $part, $keyframes in $idle {
      $i: $i + 1;
      @keyframes idle-#{$i} {
        @each $keyframe, $rule in $keyframes {
          #{$keyframe}% {
            transform: $rule;
          }
        }
      }

      #{$part} {
        animation-duration:1s;
        animation-name:idle-#{$i};
      }
    }
  }

  &[data-animation="walk"] {
    $i: 0;
    @each $part, $keyframes in $walk {
      $i: $i + 1;
      $y: 0;
      @keyframes walk-#{$i} {
        @each $keyframe, $rule in $keyframes {
          #{math.div($y, (length($keyframes) - 1)) * 100}% {
            transform: $keyframe;
          }
          $y: $y + 1;
        }
      }

      #{$part} {
        animation-direction: reverse;
        animation-duration: 1.5s;
        animation-name:walk-#{$i};
      }
    }
  }

  &[data-animation="jump"] {
    $i: 0;
    @each $part, $keyframes in $jump {
      $i: $i + 1;
      $y: 0;
      @keyframes jump-#{$i} {
        @each $keyframe in $keyframes {
          #{math.div($y, (length($keyframes) - 1)) * 100}% {
            transform: $keyframe;
          }
          $y: $y + 1;
        }
      }

      #{$part} {
        animation-duration: 1s;
        animation-name:jump-#{$i};
        animation-timing-function: ease-out;
      }
    }
  }
}
