@import 'animations';
@import 'clothing';

.character {
  max-width:100%;
  width:550px;
  position:relative;
  transform-origin:center center;
  will-change:transform;
  margin:0 auto;

  &.backwards {
    transform:rotateY(180deg);

    .shadow {
      transform:skew(-50deg) scale(.8, .3);
    }
  }

  .head, .body, .arm, .forearm, .leg, .calf, .foot {
    will-change:transform;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    box-sizing:border-box;
  }

  .shadow {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    transform:skew(50deg) scale(.8, .3);
    filter:brightness(0) blur(15px);
    transform-origin:bottom center;
    transition:none;
    z-index:-1;
    opacity:.5;
  }

  .frame {
    height:0;
    width:100%;
    position:relative;
    padding-bottom:125%;

    .body {
      height:28%;
      width:20%;
      position:absolute;
      top:42%;
      left:33.33%;
      transform:translate(var(--bodyPosition)) rotate(var(--bodyRotation));
      transform-origin:center center;

      .head {
        position:absolute;
        width:125%;
        height:71.43%;
        top:-62%;
        left:-12.5%;
        border-radius:50%;
        transform-origin:bottom center;
        z-index:5;
        transform:rotate(var(--headRotation));
      }

      .torso {
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:3;
        border-radius:50% 50% 0 0;
      }

      .arm {
        position:absolute;
        top:35%;
        width:30%;
        height:100%;
        transform-origin:50% 0;

        &.left {
          right:50%;
          z-index:5;
          transform:rotate(var(--leftArmRotation));

          .forearm {
            transform:rotate(var(--leftForearmRotation));
          }
        }

        &.right {
          left:50%;
          z-index:0;
          transform:rotate(var(--rightArmRotation));

          .forearm {
            transform:rotate(var(--rightForearmRotation));
          }
        }

        .bicep {
          position:absolute;
          height:40%;
          width:100%;
          top:0;
          left:0;
          z-index:2;

          .shoulder {
            position:absolute;
            width:100%;
            height:66.66%;
            border-radius:50%;
            top:-25%;
            left:0;
          }
        }

        .forearm {
          position:absolute;
          height:40%;
          width:100%;
          top:40%;
          left:0;
          transform-origin:50% 0;
          z-index:1;

          .elbow {
            position:absolute;
            width:100%;
            height:42.86%;
            border-radius:50%;
            top:-21.5%;
            left:0;
            z-index:0;
          }

          .hand {
            position:absolute;
            width:150%;
            height:64.3%;
            bottom:-37.5%;
            left:-25%;
            border-radius:50%;
            z-index:1;
          }
        }
      }

      .waist {
        position:absolute;
        width:100%;
        height:57.15%;
        bottom:-30%;
        left:0;
        z-index:1;

        .hips {
          position:absolute;
          height:100%;
          width:100%;
          top:0;
          left:0;
          z-index:2;
          border-radius:50%;
        }

        .leg {
          position:absolute;
          height:160%;
          width:40%;
          top:85%;
          z-index:5;
          transform-origin:50% 0;

          .thigh {
            position:absolute;
            height:40%;
            width:100%;
            top:0;
            left:0;

            .pelvis {
              position:absolute;
              top:-27.5%;
              left:0;
              width:100%;
              height:62.5%;
              border-radius:50%;
              overflow:hidden;
            }
          }

          .calf {
            position:absolute;
            height:35%;
            width:100%;
            top:40%;
            left:0;
            transform-origin:50% 0;
            z-index:5;

            .knee, .ankle {
              position:absolute;
              left:0;
              width:100%;
              height:71.45%;
              border-radius:50%;
              overflow:hidden;
            }

            .knee {
              top:-30.5%;
            }

            .ankle {
              bottom:-37.5%;
              z-index:-1;
            }
          }

          .foot {
            position:absolute;
            height:60%;
            width:200%;
            top:93.33%;
            left:-10%;
            border-radius:5px 50% 5px 5px;
            transform-origin:25% 0;
            z-index:3;
          }

          &.left {
            left:15%;
            z-index:2;
            transform:rotate(var(--leftLegRotation));

            .calf {
              transform:rotate(var(--leftCalfRotation));
            }

            .foot {
              transform:rotate(var(--leftFootRotation));
            }
          }

          &.right {
            right:15%;
            z-index:0;
            transform:rotate(var(--rightLegRotation));

            .calf {
              transform:rotate(var(--rightCalfRotation));
            }

            .foot {
              transform:rotate(var(--rightFootRotation));
            }
          }
        }
      }
    }
  }
}
