.character {
  .head, .thigh, .calf, .knee, .pelvis, .hips {
    &:before, &:after {
      content: '';
      position:absolute;
      top:-50%;
      left:-50%;
      height:200%;
      width:200%;
      background-size:100% 100%;
      background-repeat:no-repeat;
      background-position:center;
    }
  }

  .thigh {
    &:before, &:after {
      height:200%;
      width:200%;
    }
  }

  .head {
    &:before {
      background-image:url(../assets/hair/spiky-1.png);
      z-index:1;
    }
    &:after {
      background-image:url(../assets/face/face3.png);
      z-index:2;
    }
  }

  .hips {
    &:after {
      background-image:url(../assets/clothing/pants/pantwaist-jeans-blue.png);
    }
  }

  .thigh, .calf {
    &:after {
      background-image:url(../assets/clothing/pants/pantleg-jeans-blue.png);
    }
  }
}
