@mixin defaultClothingAttachment {
  content: '';
  position:absolute;
  top:-50%;
  left:-50%;
  height:200%;
  width:200%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center;
}

html {
  --SkinColor: yellow;
  --Face: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793222/animation/character/face/face3_rcl1ym.png);
  --Hair: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793265/animation/character/hair/spiky-1_k0f5y7.png);
  --Shirt: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793289/animation/character/clothing/shirts/shirt-white-torso_odt56x.png);
  --SleeveUpper: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793289/animation/character/clothing/shirts/shirt-gray-sleeve-2_pztpnt.png);
  --Waist: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793287/animation/character/clothing/pants/pantwaist-jeans-blue-2_w8ta4d.png);
  --PantLegUpper: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793287/animation/character/clothing/pants/pantleg-jeans-blue-top_ruomg4.png);
  --PantLegLower: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793287/animation/character/clothing/pants/pantleg-jeans-blue-2_y9grcc.png);
  --Shoes: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793289/animation/character/clothing/shoes/shoe-boots-1_obnr5h.png);
}

.character {
  .head, .thigh, .calf, .knee, .pelvis, .hips, .torso, .bicep, .foot, .forearm, .hand {
    &:before, &:after {
      @include defaultClothingAttachment();
    }

    &:before {
      z-index:1;
    }

    &:after {
      z-index:2;
    }
  }

  .head {
    background-image:url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793117/animation/character/skin/head_nfmdte.png);
    background-size:cover;
  }

  .head {
    &:before {
      background-image:var(--Hair);
    }
    &:after {
      background-image:var(--Face);
    }
  }

  .torso {
    &:after {
      background-image:var(--Shirt);
    }
  }

  .bicep {
    &:before {
      background-image:url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793117/animation/character/skin/arm-leg-skin-wide_tyumtd.png);
    }
    &:after {
      background-image:var(--SleeveUpper);
    }
  }

  .forearm {
    &:before {
      background-image:url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793117/animation/character/skin/arm-leg-skin_zbsw2q.png);
    }
  }

  .hand {
    &:before {
      background-image:url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793117/animation/character/skin/hand_fvd6kr.png);
    }
  }

  .foot {
    &:after {
      background-image:var(--Shoes);
    }
  }

  .hips {
    &:after {
      background-image:var(--Waist);
    }
  }

  .thigh {
    &:before {
      background-image:url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793117/animation/character/skin/arm-leg-skin_zbsw2q.png);
    }
    &:after {
      background-image:var(--PantLegUpper);
    }
  }

  .calf {
    &:before {
      background-image:url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628793117/animation/character/skin/arm-leg-skin_zbsw2q.png);
    }
    &:after {
      background-image:var(--PantLegLower);
      z-index:5;
    }
  }
}
