@mixin defaultClothingAttachment {
  content: '';
  position:absolute;
  top:-50%;
  left:-50%;
  height:200%;
  width:200%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center;
}

html {
  --SkinColor: yellow;
  --Face: url(../assets/face/face3.png);
  --Hair: url(../assets/hair/spiky-1.png);
  --Shirt: url(../assets/clothing/shirts/shirt-white-torso.png);
  --SleeveUpper: url(../assets/clothing/shirts/shirt-gray-sleeve-2.png);
  --Waist: url(../assets/clothing/pants/pantwaist-jeans-blue-2.png);
  --PantLegUpper: url(../assets/clothing/pants/pantleg-jeans-blue-top.png);
  --PantLegLower: url(../assets/clothing/pants/pantleg-jeans-blue-2.png);
  --Shoes: url(../assets/clothing/shoes/shoe-boots-1.png);
}

.character {
  .head, .thigh, .calf, .knee, .pelvis, .hips, .torso, .bicep, .foot {
    &:after {
      @include defaultClothingAttachment();
    }
  }

  //.torso, .hips {
  //  background-color: #f2f2f2;
  //}

  .head, .bicep, .forearm, .hand, .elbow, .shoulder, .thigh, .pelvis, .calf, .knee, .ankle {
    background-color: var(--SkinColor);
  }

  .head {
    &:before {
      @include defaultClothingAttachment();
      background-image:var(--Hair);
      z-index:1;
    }
    &:after {
      background-image:var(--Face);
      z-index:2;
    }
  }

  .torso {
    &:after {
      background-image:var(--Shirt);
    }
  }

  .bicep {
    &:after {
      background-image:var(--SleeveUpper);
    }
  }

  .foot {
    &:after {
      background-image:var(--Shoes);
    }
  }

  .hips {
    &:after {
      background-image:var(--Waist);
    }
  }

  .thigh {
    &:after {
      background-image:var(--PantLegUpper);
    }
  }

  .calf {
    &:after {
      background-image:var(--PantLegLower);
      z-index:5;
    }
  }
}
